<div class="imagePuzzle">
	<div class="unsolvedPuzzle">
		<h1 class="sectionName">{{imageName}}</h1>
		<ul class="puzzle" dropzone="true">
			<li *ngFor="let img of Image" class="box" [draggable]="true" [id]="img.index" (dragstart)="onDragStart($event, dropData)"
				(drop)="onDrop($event, dropData)" (dragover)="allowDrop($event)" [style.width.px]="boxSize" [style.height.px]="boxSize"
				[ngStyle]="{'background-image':'url(' + imageUrl + ') ','background-repeat':'no-repeat', 'background-position': '' + img.x_pos + ' '  + img.y_pos + '','background-size':''+ (gridsize * 100) +'% '+ (gridsize * 100) +'%'}">

			</li>
		</ul>
		<div class="successMessage" *ngIf="gameComplete">
			Game Complete. <br>
			You completed the game in time = {{ticks}} & {{steps }} steps.
		</div>

	</div>
	<div class="scoreboard">
		<h1 class="sectionName">Scoreboard</h1>
		<h3 class="score-detail">
			<span>Time Spent: {{ ticks }}        </span>
			<span>  Steps : {{steps}}</span>
		</h3>
		<div class="finalImage" [ngStyle]="{'background-image':'url(' + imageUrl + ') '}"></div>
		<div class="image-url">
			<div class="input-group">
				<span class="input-group-btn">
                   <div class="btn btn-default" >Image Url!</div>
                </span>
				<input type="url" class="form-control" placeholder="Image Url..." [(ngModel)]="imageUrl">
			</div>
		</div>

		<h3>Difficulty Level</h3>
		<div class="difficulty-levels">
			<div class="input-group">
				<input type="radio" [(ngModel)]="difficulty" name="difficulty" value="2" checked (change)="startGame()">Low
			</div>
			<div class="input-group">
				<input type="radio" [(ngModel)]="difficulty" name="difficulty" value="3" (change)="startGame()">Medium
			</div>
			<div class="input-group">
				<input type="radio" [(ngModel)]="difficulty" name="difficulty" value="4" (change)="startGame()">High
			</div>
		</div>
		<br>
		<div class="score-detail">
			<button type="button" class="btn btn-primary" (click)="startGame()"> Restart Game</button>
			<button type="button" class="btn btn-primary" (click)="reRandomize()"> Randomize</button>
		</div>

	</div>
</div>